@font-face {
  font-family: "calibri";
  src: url(../fonts/calibri.ttf);
}
@font-face {
  font-family: "calibri";
  font-weight:normal;
  font-weight:400;
  font-style:normal;
  src: url(../fonts/calibril.ttf);
}

@font-face {
  font-family: "calibri";
  font-weight:bold;
  src: url(../fonts/calibrib.ttf);
}
@font-face {
  font-family: "Bookman Old Style";
  src: url(../fonts/Bookman.ttf);
}
@font-face {
  font-family: "Candara";
  font-weight:normal;
  font-weight:400;
  font-style:normal;
  src: url(../fonts/Candara.ttf);
}

@font-face {
  font-family: "Baskerville";
  src: url(../fonts/BASKVILL.TTF);
}

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #F7F5F4;
  font-family:'calibri';
  color:#514425;
  font-size:1.3em;
  min-height: 100vh;
  margin:0;
  overflow-x: hidden;
}
p{
  margin:0;
  padding:0;
}
h2{
  font-family:"Bookman Old Style", "Baskerville";
  font-size:2.4em;
  font-weight:normal;
  letter-spacing:2px;
  padding-bottom:20px;
  margin:0;
  padding:10px 0px 0px 25px;

}

#homeSection {
  display: flex;
  height:100vh;
  justify-content: center;
}

/* #logo{
  display: inline-block;
  width:75px;
  height: 75px;
  position: relative;
  top:20px;
  left:15px;
  background: url(../images/LogoBlueWhite.svg) no-repeat;
  opacity:1
}

#logo:hover {
  background: url(../images/LogoBrownWhite.svg) no-repeat
} */

#pinkBlob{
  position:fixed;
  bottom:0px;
  right:0px;
  z-index: -1;
  user-select: none;
}
#blueBlob{
  position:fixed;
  bottom:0px;
  left:0px;
  z-index: -1;
  user-select: none;
}
#greenBlob{
  position:fixed;
  top: 0px;
  right:0;
  z-index: -1;
  user-select: none;.
}

.greenBlobAnimation {
  animation: greenBlobDrop 0.4s;
}

@keyframes greenBlobDrop {
  0%{
    top: 0px;
  }
  100% {
    top: 100px;
  }
}

.homeWrapper{
  margin:0 auto;
  width:1000px;
}
a:link{
  text-decoration:none;
  color:#514425;
}
a:hover{
  color:#9FB3E0;
}

nav {
  position: fixed;
  top: 30px;
  right: 5%;
  font-family:"Candara";
  font-size:28px;
  word-spacing:20px;
  z-index: 1000;
}
nav a{
  color:#514425;

}

#navBar {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10000;
}

.navBarOn{
  background: rgba(247,245,244,0.7);

}

.navBarOff{
}

.heading{
  font-family:"Bookman Old Style", "Baskerville";
  font-size:80px;
  font-weight:400;
}

#pageTitle {
  margin: 200px auto 0px auto;
}

#nameTitle{
  letter-spacing:7px;
  margin: 0;
  line-height: 80px;

}
#careerTitle{
  font-size:32px;
  font-weight:400;
  letter-spacing:3px;
  line-height: 32px;
  font-family: "Candara";
  padding: 0;
  text-align: center;
}
#yellowCircle{
  display:inline-block;
  position: relative;
  left: 515px;
  top: 125px;
  background-color:#F9BB57;
  width:120px;
  height: 120px;
  border-radius:50%;
  z-index: -1;
}

#custardHome {
  position: relative;
  width: 350px;
  height: 50%;
  margin: auto;
}

#custardHead,#custardBody{
  position:absolute;
  min-width:200px;
  user-select:none;
}

#custardHead {
  animation: headTilt 2.5s alternate infinite ease-in-out ;
}

@keyframes headTilt {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

#playBall{
  position:absolute;
  bottom:7%;
  left:3%;
  background-color: #D6E2D5;
  border-radius:20px;
  border-color:#D6E2D5;
  width:180px;
  height:35px;
  font-size:20px;
  font-family:"Bookman Old Style", "Baskerville";

}
#playBall:hover{
  background-color:#F9BB57;
  font-weight:bold;
}

#pageWrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(247,245,244,0.6);
  border-top: #F7F5F4 solid 40px;
}

/* About Section Start */
#aboutAnchor{
  position: relative;
  bottom: 100px;
}

#aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}

#aboutSection #aboutFlex1, #aboutFlex2{
  margin: 0 5%;
}

#aboutBoxHeader{
  background-color:#D6E2D5;
  width:200px;
  height:80px;
  border-radius:36px;
  position: absolute;
  z-index:2;
  transform: translateX(50px) translateY(-40px);
}

#aboutBox {
  display: flex;
  align-items: center;
  background-color:white;
  border-radius:55px;
  box-shadow: 5px 10px #888888;
  overflow-y:auto;
  max-width: 480px;
  min-width: 300px;
  z-index:1;
}

#aboutBoxText{
  padding:60px 35px 30px 40px;
}

#profilePic {
  height:420px;
  border-radius:55px;
  box-shadow: 5px 10px #888888;
}

#car {
  margin: 50px 0 0 0;
   width: 300px;
   animation: carRide 7s infinite linear ;
}

@keyframes carRide {
  0% {
    transform: translate(-300px,0) ;
  }
  100% {
    transform: translate(100vw,0) ;
  }
}

/* Skills section starts here */
#skillsAnchor{
  position: relative;
  bottom: 100px;
}

#skillsSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0 0 0;
}

#skillsSection #skillsFlex1, #skillsFlex2{
  margin: 0 5%;
}

#skillsGrid {
display: grid;
width:480px;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 35px;
grid-row-gap: 35px;
justify-items: center;
}

.skillIcon {
  width: 100%;
}

.skillIcon:hover{
  animation: wiggle 0.2s infinite alternate ease-in-out ;
}

@keyframes wiggle {
  0%{
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.skillsCaption {
  text-align: center;
  font-weight: bold;
}

#skillsBox{
  display: flex;
  align-items: center;
  background-color:white;
  border-radius:55px;
  box-shadow: 5px 10px #888888;
  overflow-y:auto;
  max-width:480px;
  min-width: 300px;
  z-index:1;
}
#skillsBoxText{
  padding:60px 35px 30px 40px;
}
#skillsHeaderBox{
  background-color:#FABAAE;
  width:200px;
  height:80px;
  border-radius:36px;
  position: absolute;
  z-index:2;
  transform: translateX(50px) translateY(-40px);
}

#custardBallDefault {
  position: relative;
  width: 50%;
  max-width: 250px;
  transform:translate(170px, -60px) rotate(5deg);
  z-index:1000;
}

#hearts {
  display: none;
  position: absolute;
  width: 50%;
  max-width: 170px;
  transform: translate(100px, -80px) rotate(40deg);
  z-index:500;
}

#custardBallDefault:hover + #hearts{
  display: unset;
}

/* Skills section ends */
/* Contact section starts */
#contactSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 150px 0 0 0;
}

#contactSection #contactFlex1, #contactGrid{
  margin: 0 5%;
}

#contactBox{
  display: flex;
  align-items: center;
  background-color:white;
  border-radius:55px;
  box-shadow: 5px 10px #888888;
  overflow-y:auto;
  max-width:480px;
  min-width: 350px;

}
#contactBoxText{
  padding:60px 35px 30px 40px;
}
#contactHeaderBox{
  background-color:#9FB3E0;
  width:250px;
  height:80px;
  border-radius:36px;
  position: absolute;
  z-index:2;
  transform: translateX(50px) translateY(-40px);
}

#contactGrid {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}

.contactIcon{
background-color:#9FB3E0;
width:150px;
height:150px;
border-radius: 36px;
}

.contactIcon:hover{
  background-color:#FABAAE;
  animation: wiggle 0.2s infinite alternate ease-in-out ;
}

#emailIcon{
  padding:10px;
}

#custardWithBall {
  position: relative;
  margin: 0 0 0 5%;
  top: 5px;
}

#custardDown{
  width:260px;
}

#smallYellowCircle{
  position: relative;
  transform-box: border-box;
  display:inline-block;
  background-color:#F9BB57;
  height:80px;
  width:80px;
  border-radius:50%;
  animation: ballRoll 4s alternate infinite ease-in-out ;
}

@keyframes ballRoll {
  0% {
    transform: rotate(0deg);
    left: 0px;
  }
  100% {
    transform: rotate(1080deg);
    left: calc(100% - 340px);
  }
}
/* Contact Section Ends */
/* Footer starts here */
#footSection {
  position: relative;
  height:70px;
  background-color:#9FB3E0;
  margin: 0 0 0 0;
}

#footerText {
  text-align: center;
  padding-top: 21px;
  font-size: 16px;
  color: #514425;
}
/* footer ends here */
@media (max-width: 1000px) {
  #homeSection {
    flex-direction: column-reverse;
  }

  #custardHome {
    width: 200px;
  }

  #aboutFlex2{
    display: none;
  }
  #skillsSection {
    flex-direction: column-reverse;
    align-items: center;
  }
  #contactSection{
    flex-direction: column;
  }
  #contactGrid {
    grid-template-columns: repeat(4, 1fr);
    margin: 25px 0 0 0;
  }
  .contactIcon {
    width: 100px;
    height: 100px;
    border-radius: 24px;
  }
  #playBall {
    display: none;
  }

  #car {
    animation: none;
  }

  *:hover{

  }
}
@media (max-width: 680px) {

  #pageTitle{
    margin: 200px auto 0px auto;
  }

  #pageTitle h1{
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 5.25px;
  }

  #pageTitle h2{
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
  }


  #yellowCircle{
    left: 386.25px;
    top: 93.75px;
    width: 90px;
    height: 90px;
  }



  #logo {
    display: none;
  }

  nav {
    position: relative;
    display: table;
    margin: auto;
    right: unset;
    font-size: 20px;
    top: 35px;
  }

  #custardDown {
    width: 130px;
  }
  #smallYellowCircle {
    width: 40px;
    height: 40px;
  }

  @keyframes ballRoll {
    0% {
      transform: rotate(0deg);
      left: 0px;
    }
    100% {
      transform: rotate(1080deg);
      left: calc(100% - 170px);
    }
  }
}
@media (max-width: 500px) {
  #skillsGrid{
    grid-template-columns: repeat(3,1fr);
    width: 360px;
  }
  .skillIcon{
  }
  .contactIcon {
    width: 75px;
    height: 75px;
    border-radius: 18px;
  }
  #hearts{
    width: 20%;
  }
}

@media (max-width: 450px){
  #pageTitle h1{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 3.5px;
  }

  #pageTitle h2{
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1.5px;
  }

  #yellowCircle{
    left: 257.5px;
    top: 62.5px;
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 374px) {
  #skillsGrid{
    grid-template-columns: repeat(2,1fr);
    width: 240px;
  }
}
