@font-face {
  font-family: "calibri";
  src: url(fonts/calibri.ttf);
}
@font-face {
  font-family: "calibri";
  font-weight:normal;
  font-weight:400;
  font-style:normal;
  src: url(fonts/calibril.ttf);
}

@font-face {
  font-family: "calibri";
  font-weight:bold;
  src: url(fonts/calibrib.ttf);
}
@font-face {
  font-family: "Bookman Old Style";
  src: url(fonts/BOOKOS.ttf);
}
@font-face {
  font-family: "Candara";
  font-weight:normal;
  font-weight:400;
  font-style:normal;
  src: url(fonts/Candara.ttf);
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #F7F5F4;
  font-family:'calibri';

  color:#514425;
  font-size:1.3em;
  min-height: 100vh;
  margin:0;
}
p{
  margin:0;
  padding:0;
}
h2{
  font-family:'Bookman Old Style';
  font-size:2.4em;
  font-weight:normal;
  letter-spacing:2px;
  padding-bottom:20px;
  margin:0;
  padding:10px 0px 0px 25px;

}

#homeSection {
  position: relative;
  height:100vh;

}

#logo{
  width:100px;
  height: 75px;
  position:fixed;
  top:4%;
  left:7%;
  background: url(logo2.svg) no-repeat;
}

#logo:hover {
  background: url(logoBrown.svg) no-repeat
}

#pinkBlob{
  position:fixed;
  bottom:0px;
  right:0px;
  z-index: -1;
  user-select:none;
}
#blueBlob{
  position:fixed;
  bottom:0px;
  left:0px;
  z-index: -1;
  user-select:none;
}
#greenBlob{
  position:fixed;
  top:0;
  right:0;
  z-index: -1;
  user-select:none;
}
.wrapper{
  margin:0 auto;
  width:1000px;
}
a:link{
  text-decoration:none;
  color:#514425;
}
a:hover{
  color:#9FB3E0;
  text-decoration: underline;
}
nav a{
  color:#514425;
}
#navBar{
  position:fixed;
  top:5%;
  right:5%;
  font-family:"Candara";
  font-size:28px;
  word-spacing:20px;
  z-index:10000;
}

.heading{
  font-family:'Bookman Old Style';
  font-size:80px;
  font-weight:400;
}
#NameTitle{
  letter-spacing:7px;
  position:absolute;
  right:200px;
  top:250px;
}
#careerTitle{
  position:absolute;
  right:300px;
  top:360px;
  font-size:32px;
  font-weight:400;
  letter-spacing:3px;
  line-height: 70px;
  font-family: "Candara";
}
#yellowCircle{
  display:inline-block;
  position:absolute;
  right:150px;
  top:315px;
  background-color:#F9BB57;
  height:120px;
  width:120px;
  border-radius:50%;
}

#custardHead,#custardBody{
  position:absolute;
  max-width:22%;
  min-width:350px;
  bottom:20%;
  left:15%;
  user-select:none;
}

#custardHead {
  animation: headTilt 2.5s alternate infinite ease-in-out ;
}

@keyframes headTilt {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

#playBall{
  position:absolute;
  bottom:7%;
  left:3%;
  background-color: #D6E2D5;
  border-radius:20px;
  border-color:#D6E2D5;
  width:180px;
  height:35px;
  font-size:20px;
  font-family:Bookman Old Style;

}
#playBall:hover{
  background-color:#F9BB57;
  font-weight:bold;
}

#pageWrap{
  width: 100%;
  height: 100%;
  background-color: rgba(247,245,244,0.6);
  border-top: #F7F5F4 solid 40px;
}

#aboutSection {
  display: flex;
  margin:50px auto;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  height: 700px;
}

#aboutBox {
  background-color:white;
  height:410px;
  border-radius:55px;
  z-index:500;
  overflow-y:auto;
  max-width:480px;
  box-shadow: 5px 10px #888888;
  min-width: 300px;
}
 #profilePic {
  width:400px;
  border-radius:55px;
  box-shadow: 5px 10px #888888;
}

#aboutBoxText{
  padding:60px 35px 30px 40px;
}
#aboutHeaderBox{
  background-color:#D6E2D5;
  width:200px;
  height:80px;
  border-radius:36px;
  position: absolute;
  z-index:1000;
  transform: translateX(50px) translateY(-40px);
}


 #car {
   position: absolute;
   width: 400px;
   animation: carRide 7s infinite linear ;
 }

 @keyframes carRide {
   0% {
     transform: translate(-50vw,400px) ;
   }
   100% {
     transform: translate(100vw,400px) ;
   }
 }

/* Skills section starts here */
#skillsSection {
  display: flex;
  margin:50px auto;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  height: 700px;

}
#skillsBox{
  background-color:white;
  height:440px;
  border-radius:55px;
  z-index:500;
  overflow-y:auto;
  max-width:480px;
  box-shadow: 5px 10px #888888;
  min-width: 300px;
}
#skillsBoxText{
  padding:60px 35px 30px 40px;
}
#skillsHeaderBox{
  background-color:#FABAAE;
  width:200px;
  height:80px;
  border-radius:36px;
  position: absolute;
  z-index:1000;
  transform: translateX(50px) translateY(-40px);
}

.skillGrid {
display: grid;
flex:auto;
width:480px;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 35px;
grid-row-gap: 35px;
}

.skillIcon:hover{
  animation: wiggle 0.2s infinite alternate ease-in-out ;
}

@keyframes wiggle {
  0%{
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.skillsCaption {
  text-align: center;
  font-weight: bold;
}

#custardBallDefault {
  position: absolute;
  transform:translate(194px, 380px);
  width: 250px;
  z-index:1000;
}

#hearts {
  display: none;
  position: absolute;
  width: 170px;
  z-index:500;
  transform: translate(335px, 344px) rotate(30deg);
}

#custardBallDefault:hover + #hearts{
  display: unset;
}

/* Skills section ends */
/* Contact section starts */
#contactSection {
  display: flex;
  margin:auto;
  margin-top: 50px;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  height: 700px;

}
#contactBox{
  background-color:white;
  height:410px;
  border-radius:55px;
  z-index:500;
  overflow-y:auto;
  max-width:480px;
  min-width: 300px;
  box-shadow: 5px 10px #888888;
}
#contactBoxText{
  padding:60px 35px 30px 40px;
}
#contactHeaderBox{
  background-color:#9FB3E0;
  width:250px;
  height:80px;
  border-radius:36px;
  position: absolute;
  z-index:1000;
  transform: translateX(50px) translateY(-40px);
}

#custardWag{
  width:260px;
  position:absolute;
  z-index:1000;
  transform: translate(-100px,240px);
}

#smallYellowCircle{
  display:inline-block;
  position:absolute;
  background-color:#F9BB57;
  height:80px;
  width:80px;
  border-radius:50%;
  z-index: 10000;
  animation: ballRoll 4s alternate infinite ease-in-out ;
}

@keyframes ballRoll {
  0% {
    transform: translate(80px,330px) rotate(0deg);
  }
  100% {
    transform: translate(75vw,330px) rotate(1080deg);
  }
}

form {
  width: 100%;
  max-width: 480px;
}

input,
textarea {
  border: 1px solid #514425;
  border-radius:20px;
  width:90%;
  max-width:500px;
  min-width:200px;
  margin-bottom: 10px;
  padding-left:30px;
  padding-right:20px;
  font-family:calibri;
  font-size:20px;
  float: right;
}

input {
  height: 40px;
}

textarea {
  height: 200px;
  padding-top:8px;
  resize:vertical;
  max-height:400px;
}

#formButton {
  background: #F9BB57;
  border: 1px solid #514425;
  border-radius:20px;
  padding: 10px 40px;
  font-size: 16px;
  float: right;
}

#formButton:hover{
  background:#FABAAE;
  border: 1px solid #514425;
  border-radius:20px;
  font-weight:bold;
}
/* Contact Section Ends */
/* Footer starts here */
#footSection {
  position: relative;
  height:70px;
  background-color:#9FB3E0;
}
#footSection:hover {
  position: relative;
  height:70px;
  background-color: #D6E2D5;
}

#footerText {
  text-align: center;
  padding-top: 21px;
  font-size: 20px;
  color: #514425;
}
/* footer ends here */
