html{
  scroll-behavior: smooth;
}

body{
  background-color: #F7F5F4;
  font-family:'calibri';
  color:#514425;
  font-size:1.3em;
  min-height: 100vh;
  margin:0;
}
p{
  margin:0;
  padding:0;
}
h2{
  font-family:'Bookman Old Style';
  font-size:2.6em;
  font-weight:normal;
  letter-spacing:2px;
  padding-bottom:20px;
  margin:0;
  padding:10px 0px 0px 25px;

}
/* #pinkBlob, #blueBlob, #greenBlob {
position:fixed;
height:1000px;
width:1800px;
top:0%;

} */
#homeSection {
  position: relative;
  height:100vh;

}

/* #logo:hover {
  display: none;
} */



#logo{
  width:100px;
  height: 75px;
  position:fixed;
  top:4%;
  left:7%;
  background: url(logo2.svg) no-repeat;
}

/* #logoBrown{
  display:none;
  position:fixed;
  width:100px;
  top:5%;
  left:7%;

} */

#logo:hover {
  background: url(logoBrown.svg) no-repeat
}

#pinkBlob{
  position:fixed;
  bottom:0px;
  right:0px;
  z-index: -1;
  user-select:none;
}
#blueBlob{
  position:fixed;
  bottom:0px;
  left:0px;
  z-index: -1;
  user-select:none;
}
#greenBlob{
  position:fixed;
  top:0;
  right:0;
  z-index: -1;
  user-select:none;
}
.wrapper{
  margin:0 auto;
  width:1000px;
}
a:link{
  text-decoration:none;
}
a:hover{
  color:#9FB3E0;
  text-decoration: underline;
}
nav a{
  color:#514425;
}
#navBar{
  position:fixed;
  top:5%;
  right:5%;
  font-size:28px;
  word-spacing:20px;
  z-index:10000;
}

.heading{
  font-family:'Bookman Old Style';
  font-size:80px;
  font-weight:400;
  /* font-weight:regular; */
}
#NameTitle{
  letter-spacing:7px;
  /* text-align:right; */
  position:absolute;
  right:200px;
  top:250px;
  /* margin:18% 10% 0% 0%; */
  /* z-index:500; */
  /* margin-right:10%;
  margin-top:18%;
  margin-bottom:0px; */
}
#careerTitle{
  position:absolute;
  right:300px;
  top:360px;
  /* text-align:right; */
  /* margin:0% 18% 0% 0%; */
  font-size:32px;
  font-weight:400;
  letter-spacing:3px;
  line-height: 70px;
  font-family: "calibri";
  /* z-index:500; */
}
#yellowCircle{
  display:inline-block;
  position:absolute;
  right:150px;
  top:315px;
  background-color:#F9BB57;
  height:120px;
  width:120px;
  border-radius:50%;
}

/* #blueCircle{
  position:relative;
  left:200px;
  top:-180px;
  transform: rotate(22deg);
  z-index:200;

}
#pinkCircle{
  position:absolute;
  right:1500px;
  top:-100px;
  transform: rotate(22deg);

} */

#custardHead,#custardBody{
  position:absolute;
  max-width:22%;
  min-width:350px;
  bottom:20%;
  left:15%;
  user-select:none;
}

#custardHead {
  animation: headTilt 2.5s alternate infinite ease-in-out ;
}

@keyframes headTilt {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

#playBall{
  position:absolute;
  bottom:7%;
  left:3%;
  background-color: #D6E2D5;
  border-radius:20px;
  border-color:#D6E2D5;
  width:180px;
  height:35px;
  font-size:20px;
  font-family:Bookman Old Style;

}
#playBall:hover{
  background-color:#F9BB57;
  font-weight:bold;
}

#pageWrap{
  width: 100%;
  height: 100%;
  background-color: rgba(247,245,244,0.6);
  border-top: #F7F5F4 solid 40px;
}






#custardBallDefault {
transform:translateX(-300px);
transform:translateY(250px);


  width: 200px;
  height:400px;
  z-index:400;
}

#hearts {
  width: 170px;
  z-index:500;
  transform: rotate(30deg);
}

#aboutSection {
  display: flex;
  margin:auto;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  height: 100vh;
}

#aboutBox {
  background-color:white;
  height:410px;
  border-radius:55px;
  z-index:500;
  overflow-y:auto;
  max-width:480px;
  box-shadow: 5px 10px #888888;
  min-width: 300px;
}
 #profilePic {
  width:400px;
  border-radius:55px;
  box-shadow: 5px 10px #888888;
}

/* #aboutBox{
  display:inline-block;
  background-color:white;
  width:35%;
  min-width:300px;
  height:400px;
  border-radius:55px;
  /* position:relative; */
  /* top:15%; */
  /* left:10%; */
  /* z-index:500;
  overflow-y:auto;
  box-shadow: 5px 10px #888888;
} */
#aboutBoxText{

  padding:60px 35px 30px 40px;

  /* margin:35px 30px 35px 30px; */
}
#aboutHeaderBox{
  background-color:#D6E2D5;
  width:200px;
  height:80px;
  border-radius:36px;
  position: absolute;
  z-index:1000;
  transform: translateX(50px) translateY(-40px);
}
/* #aboutHeaderText{

} */


 #custardBallDefault:hover + #hearts {
   display: unset;
 }






/* Skills section starts here */
#skillsSection {
  display: flex;
  margin:auto;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  height: 100vh;

}
#skillsBox{
  background-color:white;
  height:440px;
  border-radius:55px;
  z-index:500;
  overflow-y:auto;
  max-width:480px;
  box-shadow: 5px 10px #888888;
  min-width: 300px;
}
#skillsBoxText{

  padding:60px 35px 30px 40px;

  /* margin:35px 30px 35px 30px; */
}
#skillsHeaderBox{
  background-color:#FABAAE;
  width:200px;
  height:80px;
  border-radius:36px;
  position: absolute;
  z-index:1000;
  transform: translateX(50px) translateY(-40px);
}
/* #skillsHeaderText{
  font-family:'Bookman Old Style';
  font-weight:400;
  letter-spacing:2px;
  font-size:50px;
  text-align:center;
  padding:11px;
} */

.skillGrid {
display: grid;
flex:auto;
width:480px;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 35px;
grid-row-gap: 35px;

}
/* Skills section ends */
/* Contact section starts */
#contactSection {
  display: flex;
  margin:auto;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  height: 90vh;

}
#contactBox{
  background-color:white;
  height:410px;
  border-radius:55px;
  z-index:500;
  overflow-y:auto;
  max-width:480px;
  min-width: 300px;
  box-shadow: 5px 10px #888888;
}
#contactBoxText{

  padding:60px 35px 30px 40px;

  /* margin:35px 30px 35px 30px; */
}
#contactHeaderBox{
  background-color:#F9BB57;
  width:280px;
  height:80px;
  border-radius:36px;
  position: absolute;
  z-index:1000;
  transform: translateX(50px) translateY(-40px);
}
/* #contactHeaderText{
  font-family:'Bookman Old Style';
  font-weight:400;
  letter-spacing:2px;
  font-size:50px;
  text-align:center;
  padding:11px;
} */

#custardWag{
  width:260px;
  position:absolute;
  top:65%;
  left:90px;
  z-index:1000;

}
form {
  width: 100%;
  max-width: 480px;
}
input,
textarea {
  border: 1px solid #514425;
  border-radius:20px;
  width:90%;
  max-width:500px;
  min-width:200px;
  margin-bottom: 10px;
  padding-left:30px;
  padding-right:20px;
  font-family:calibri;
  font-size:20px;
  float: right;
}
input {
  height: 40px;
}
textarea {
  height: 200px;
  padding-top:8px;
  resize:vertical;
  max-height:400px;


  /* resize:none; */
}
#formButton {
  background: #F9BB57;
  border: 1px solid #514425;
  border-radius:20px;
  padding: 10px 40px;
  font-size: 16px;
  float: right;
}
#formButton:hover{
  background:#FABAAE;
  border: 1px solid #514425;
  border-radius:20px;

}



/* Footer starts here */

#footSection {
  position: relative;
  height:6vh;
  background-color: #D6E2D5;
}

#footerText {
  text-align: center;
  padding-top: 19px;
  font-size: 20px;
  color: #514425;
}

 /* #custardBody{
  width:20%;
  position:absolute;
}  */
/* #custardHome{ */
  /* position:relative; */
  /* margin:0% 0% 10% 10%; */
  /* position:relative;
  display:flex;
  top: */

  /* z-index:1000; */
/* } */
